# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support documentation.
# This workflow will download a prebuilt Node version, install dependencies, build and deploy/publish a new release
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Deploy and Publish

on:
  workflow_run:
    workflows: ["Build and Test"]
    branches: [ main ]
    types:
      - completed

  # Allows you to run this workflow manually from the Action tab
  workflow_dispatch:

jobs:
  deploy:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: Deploy and Publish
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        persist-credentials: false
    - name: Set up Node and Build for Deploy
      uses: actions/setup-node@v3
      with:
        node-version: 16
    - name: Install Dependencies
      run: yarn install --immutable
    - name: Build
      run: yarn run build
    - name: Install Semantic Release dependencies
      run: |
        sudo apt-get install bumpversion
        npm install -g semantic-release@^18.0.0
        npm install -g @semantic-release/changelog@^6.0.0
        npm install -g @semantic-release/exec@^6.0.0
        npm install -g @semantic-release/git@^10.0.0
        npm install -g @semantic-release/github@^8.0.0
        npm install -g @semantic-release/commit-analyzer@^9.0.0
        npm install -g @semantic-release/release-notes-generator@^10.0.0
        npm install
    - name: Publish to Git Releases and Tags
      if: ${{ github.event.workflow_run.conclusion == 'success' }}
      env:
        GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      run: npx semantic-release # --dry-run
